<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Fixes issue with API calls returning 405 Method Not Allowed -->
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" startupTimeLimit="300">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="5011" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <!-- Shouldn't need this, but it seems like there's some sort of bug in the SPA middleware when running in prod? -->
          <rule name="Prevent requests to index">
            <match url="^$" />
            <action type="Rewrite" url="/index.html" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>